{% extends "layout.html" %}

{% block content %}
<div class="mt-4">
    <p class="mb-2">Data summarized using Modin</p>
    <a href="{{ url_for('index') }}" class="button is-primary mb-6">
        <span class="icon is-small">
            <i class="fa-solid fa-arrow-left"></i>
        </span>
        <span>Back to Prediction</span>
    </a>

    <div class="columns">
        <div class="column">
            <div id="chart-water-color"></div>
        </div>
        <div class="column">
            <div id="chart-water-source"></div>
        </div>
        <div class="column">
            <div id="chart-water-quality"></div>
        </div>
    </div>

    <p class="has-text-weight-bold">Chemical Concentration by Week</p>
    <div class="field is-grouped">
        <p class="control has-icons-left">
            <span class="select">
                <select id="chart-chemical-series">
                    <option value="pH">pH</option>
                    <option value="Fluoride">Fluoride</option>
                    <option value="Iron">Iron</option>
                    <option value="Copper">Copper</option>
                    <option value="Nitrate">Nitrate</option>
                    <option value="Sulfate">Sulfate</option>
                    <option value="Chloride">Chloride</option>
                    <option value="Chlorine">Chlorine</option>
                    <option value="Lead">Lead</option>
                    <option value="Manganese">Manganese</option>
                    <option value="Zinc">Zinc</option>
                    <option value="Odor">Odor</option>
                </select>
            </span>
            <span class="icon is-small is-left">
                <i class="fa-solid fa-eye"></i>
            </span>
        </p>
        <p class="control mt-2">
            <label class="checkbox">
                <input id="scale-to-zero" type="checkbox">
                Minimum scale = 0
            </label>
        </p>
    </div>

    <div id="chart-chemicals"></div>

    <div id="chart-physical"></div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.37.0/apexcharts.min.js"
    integrity="sha512-RLWwcf0Pb2NghIfkaQms354xRV36EYjXLWKSN8QHiHqNq3KGj0DjMc9D1zzO7UsREkGU/xCLAJi/hVcKSuZ5Cw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ url_for('static', filename='js/chart_water_color.js') }}"></script>
<script src="{{ url_for('static', filename='js/chart_water_source.js') }}"></script>
<script src="{{ url_for('static', filename='js/chart_water_quality.js') }}"></script>
<script src="{{ url_for('static', filename='js/chart_chemicals.js') }}"></script>
<script src="{{ url_for('static', filename='js/chart_physical.js') }}"></script>
{% endblock %}
